.actv-1,
.actv-2,
.actv-3 {
    position: relative;
}

.actv-1:active::after,
.actv-2:active::after,
.actv-3:active::after {
    z-index: -1;
}

.actv-4:active::after {
    z-index: 3;
}

.actv-1:active::after,
.actv-2:active::after,
.actv-3:active::after,
.actv-4:active::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-radius: inherit;
    width: 100%;
    height: 100%;
}

.actv-1:active::after {
    background-color: var(--bg-clr-4);
}

.actv-2:active::after {
    background-color: var(--bg-clr-14);
}

.actv-3:active::after {
    background-color: var(--bg-clr-15);
}

.actv-4:active::after {
    background-color: var(--bg-clr-15);
}