.hdr-bg {
    z-index: 99999;
}

header {
    background-color: var(--bg-clr-1);
    padding-top: 25px;
    padding-bottom: 25px;
    z-index: 2;
}

header > .lft > .btn-bg > .btn > .txt {
    font-weight: 600;
}

header > .lft > .btn-bg > .btn {
    padding: 4.8px 6px;
    margin-left: -6px;
}

@media only screen and (max-width: 767px) {
    header > .rght > .btns {
        display: none;
    }
}

header > .rght > .btns {
    gap: 40px;
}

header > .rght > .btns > .btn-bg > .btn {
    padding: 20px;
}

header > .rght > .btns > .btn-bg:last-child {
    margin-right: -20px;
}

@media only screen and (min-width: 767px) {
    .hdr-bg > nav {
        display: none;
    }

    header > .rght > .nvbr {
        display: none;
    }
}

header > .rght > .nvbr > .btn-bg > .btn {
    padding: 7px;
    margin-right: -7px;
}

.hdr-bg > nav {
    top: 100%;
}

.hdr-bg > nav > #nvbr {
    background-color: var(--bg-clr-2);
    visibility: hidden;
    overflow: hidden;
    max-height: 0;
    transform: translateY(-100%);
    transition: all .35s ease;
}

#nvbr-chckbx:checked + #nvbr {
    visibility: visible;
    transform: translateY(0);
    overflow: auto;
    max-height: fit-content;
    animation: nvbr-opn .35s ease;
}

#nvbr-chckbx:not(:checked) + #nvbr.anmt {
    animation: nvbr-cls .35s ease;
}

@keyframes nvbr-opn {
    0% {
        visibility: visible;
        overflow: auto;
        max-height: fit-content;
        transform: translateY(-100%);
    }
    100% {
        visibility: visible;
        overflow: auto;
        max-height: fit-content;
        transform: translateY(0);
    }
}

@keyframes nvbr-cls {
    0% {
        visibility: visible;
        overflow: auto;
        max-height: fit-content;
        transform: translateY(0);
    }
    99% {
        visibility: visible;
        overflow: auto;
        max-height: fit-content;
        transform: translateY(-100%);
    }
    100% {
        visibility: hidden;
        overflow: hidden;
        max-height: 0;
        transform: translateY(-100%);
    }
}

.hdr-bg > nav > #nvbr > .btns > .btn-bg > .btn {
    padding: 20px;
}

.hdr-bg > nav > #nvbr > .btns > .btn-bg > .btn > .txt {
    color: var(--txt-clr-2);
}

.hdr-bg > header > .rght > .nvbr > .btn-bg > .btn > .icn > svg > .ln {
    fill: none;
    stroke: var(--txt-clr-1);
    stroke-width: 6;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hdr-bg > header > .rght > .nvbr > .btn-bg > .btn > .icn > svg > .ln.ln1 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}

.hdr-bg > header > .rght > .nvbr > .btn-bg > .btn > .icn > svg > .ln.ln2 {
    stroke-dasharray: 60 60;
    stroke-width: 6;
}

.hdr-bg > header > .rght > .nvbr > .btn-bg > .btn > .icn > svg > .ln.ln3 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}

.hdr-bg > header > .rght > .nvbr > .btn-bg > .btn.opnd > .icn > svg > .ln1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
}

.hdr-bg > header > .rght > .nvbr > .btn-bg > .btn.opnd > .icn > svg > .ln2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 6;
}

.hdr-bg > header > .rght > .nvbr > .btn-bg > .btn.opnd > .icn > svg > .ln3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
}

.hdr-bg > header > .rght > .nvbr > .btn-bg > .btn.opnd,
.hdr-bg > header > .rght > .nvbr > .btn-bg > .btn:active {
    background-color: var(--bg-clr-3);
}