.mn-bg::before {
    content: "";
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: var(--bg-clr-2);
    position: absolute;
    top: 0;
    left: 0;
}

main {
    max-width: 1440px;
    margin: 0 auto;
}

main * {
    color: var(--txt-clr-2);
}

main > .sct-bg > .sct {
    padding-top: 32px;
    scroll-margin-top: -30px;
}

@media only screen and (min-width: 1200px) {
    .mn-bg::before {
        clip-path: polygon(0 0, calc(100% - 760px) 0, 100% 538px, 100% 100%, 0 100%);    
    }

    main {
        padding-bottom: 36px;
    }
    main > .sct-bg > .sct {
        padding-bottom: 52px;
    }

    main > .sct-bg > .sct#home > .cntnt-bg > .cntnt > .rght-bg {
        padding: 0 0 0 185px;
    }    
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .mn-bg::before {
        clip-path: polygon(0 0, calc(100% - 600px) 0, 100% 450px, 100% 100%, 0 100%);
    }
    
    main {
        padding-bottom: 30px;
    }
    main > .sct-bg > .sct {
        padding-bottom: 45px;
    }

    main > .sct-bg > .sct#home > .cntnt-bg > .cntnt > .rght-bg {
        padding: 0 0 0 150px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .mn-bg::before {
        clip-path: polygon(0 0, calc(100% - 400px) 0, 100% 350px, 100% 100%, 0 100%);
    }

    main {
        padding-bottom: 24px;
    }
    main > .sct-bg > .sct {
        padding-bottom: 36px;
    }

    main > .sct-bg > .sct#home > .cntnt-bg > .cntnt > .rght-bg {
        padding: 0 0 0 100px;
    }
}

@media only screen and (max-width: 767px) {
    .mn-bg::before {
        clip-path: polygon(0 0, calc(100% - 200px) 0, 100% 250px, 100% 100%, 0 100%);
    }
    
    main {
        padding-bottom: 16px;
    }
    main > .sct-bg > .sct {
        padding-bottom: 24px;
    }

    main > .sct-bg > .sct#home > .cntnt-bg > .cntnt > .rght-bg {
        padding: 0 0 0 50px;
    }
}

main > .sct-bg > .sct > .hdr-bg > .hdr {
    padding: 18px 0;
}

main > .sct-bg > .sct > .hdr-bg > .hdr > .txt {
    font-weight: 600;
}

main > .sct-bg > .sct > .inf-bg > .inf {
    padding: 6px 0;
}

main > .sct-bg > .sct > .hdr-bg > .hdr > .txt,
main > .sct-bg > .sct > .inf-bg > .inf > .txt,
main > .sct-bg > .sct > .cntnt-bg > .cntnt > .tbl-bg > .tbl > .clmn-bg > .clmn > .cntnt-bg > .cntnt > .dtl-bg > .dtl > .cntnt-bg > .cntnt > .dtl > .txt,
main > .sct-bg > .sct > .cntnt-bg > .cntnt > .tbl-bg > .tbl > .clmn-bg > .clmn > .cntnt-bg > .cntnt > .dtl-bg > .dtl > .hdr-bg > .hdr > .txt,
main > .sct-bg > .sct > .cntnt-bg > .cntnt > .tbl-bg > .tbl > .clmn-bg > .clmn > .hdr-bg > .hdr > .cntnt-bg > .cntnt > .tlt > .txt,
main > .sct-bg > .sct > .cntnt-bg > .cntnt > .tbl-bg > .tbl > .clmn-bg > .clmn > .hdr-bg > .hdr > .cntnt-bg > .cntnt > .inf > .txt {
    line-height: 1.55;
    text-align: center;
}

main > .sct-bg > .sct > .inf-bg > .inf > .txt {
    color: var(--txt-clr-4);
}

@media only screen and (min-width: 1200px) {
    main > .sct-bg > .sct > .inf-bg > .inf {
        padding-left: 61px;
        padding-right: 61px;
    }   
}

@media only screen and (max-width: 1199px) {
    main > .sct-bg > .sct > .inf-bg > .inf {
        padding-left: 30px;
        padding-right: 30px;
    }   
}

@media only screen and (max-width: 767px) {
    main > .sct-bg > .sct > .inf-bg > .inf {
        padding-left: 15px;
        padding-right: 15px;
    }   
}

@media only screen and (max-width: 575px) {
    main > .sct-bg > .sct > .inf-bg > .inf {
        padding-left: 10px;
        padding-right: 10px;
    }   
}

main > .sct-bg > .sct > .cntnt-bg > .cntnt {
    padding: 34px 0 12px 0;
}

main > .sct-bg > .sct > .cntnt-bg > .cntnt > .tbl-bg > .tbl {
    border-radius: 18px;
    align-items: stretch !important;
    background-color: var(--bg-clr-9);
    box-shadow: var(--bg-clr-11) 0px 7px 29px 0px;
}

main > .sct-bg > .sct > .cntnt-bg > .cntnt > .tbl-bg > .tbl > .clmn-bg > .clmn {
    padding: 44px 24px 50px 24px;
}

main > .sct-bg > .sct > .cntnt-bg > .cntnt > .tbl-bg > .tbl > .clmn-bg > .clmn > .hdr-bg > .hdr {
    padding: 8px 0;
}

main > .sct-bg > .sct > .cntnt-bg > .cntnt > .tbl-bg > .tbl > .clmn-bg > .clmn > .hdr-bg > .hdr .icn {
    background-color: var(--bg-clr-10);
}

main > .sct-bg > .sct > .cntnt-bg > .cntnt > .tbl-bg > .tbl > .clmn-bg > .clmn > .hdr-bg > .hdr > .cntnt-bg > .cntnt > .tlt {
    padding: 20px 0 2px 0;
}

main > .sct-bg > .sct > .cntnt-bg > .cntnt > .tbl-bg > .tbl > .clmn-bg > .clmn > .hdr-bg > .hdr > .cntnt-bg > .cntnt > .tlt > .txt {
    font-weight: 600;
}

main > .sct-bg > .sct > .cntnt-bg > .cntnt > .tbl-bg > .tbl > .clmn-bg > .clmn > .hdr-bg > .hdr > .cntnt-bg > .cntnt > .inf {
    padding: 10px 0;
}

main > .sct-bg > .sct > .cntnt-bg > .cntnt > .tbl-bg > .tbl > .clmn-bg > .clmn > .hdr-bg > .hdr > .cntnt-bg > .cntnt > .inf > .txt {
    color: var(--txt-clr-4);
}

main > .sct-bg > .sct > .cntnt-bg > .cntnt > .tbl-bg > .tbl > .clmn-bg > .clmn > .cntnt-bg > .cntnt {
    gap: 18px;
}

main > .sct-bg > .sct > .cntnt-bg > .cntnt > .tbl-bg > .tbl > .clmn-bg > .clmn > .cntnt-bg > .cntnt > .dtl-bg > .dtl > .hdr-bg > .hdr {
    padding: 6px;
}

main > .sct-bg > .sct > .cntnt-bg > .cntnt > .tbl-bg > .tbl > .clmn-bg > .clmn > .cntnt-bg > .cntnt > .dtl-bg > .dtl > .hdr-bg > .hdr > .txt {
    font-weight: 600;
    color: var(--txt-clr-7);
}

main > .sct-bg > .sct > .cntnt-bg > .cntnt > .tbl-bg > .tbl > .clmn-bg > .clmn > .cntnt-bg > .cntnt > .dtl-bg > .dtl > .cntnt-bg > .cntnt > .dtl {
    padding: 3px 0;
}

@media only screen and (max-width: 767px) {
    main > .sct-bg > .sct > .cntnt-bg > .cntnt > .tbl-bg > .tbl > .clmn-bg {
        width: 100%;
    }
    
    main > .sct-bg > .sct > .cntnt-bg > .cntnt > .tbl-bg > .tbl,
    main > .sct-bg > .sct > .cntnt-bg > .cntnt > .tbl-bg > .tbl > .clmn-bg {
        flex-direction: column;
    }

    main > .sct-bg > .sct > .cntnt-bg > .cntnt > .tbl-bg > .tbl > .clmn-bg:not(:last-child)::after {
        content: "";
        width: 85%;
        height: 1px;
        background-color: var(--bg-clr-8);
    }

    main > .sct-bg > .sct > .cntnt-bg > .cntnt > .bd-bg > .bd > .clmn-bg > .clmn > .frm-bg > .frm > .txt-inpt-bg > .txt-inpt {
        height: 85px;
    }
}

@media only screen and (min-width: 768px) {
    main > .sct-bg > .sct > .cntnt-bg > .cntnt > .tbl-bg > .tbl > .clmn-bg {
        flex: 1;
    }

    main > .sct-bg > .sct > .cntnt-bg > .cntnt > .tbl-bg > .tbl > .clmn-bg:not(:last-child)::after {
        content: "";
        width: 1px;
        height: 89%;
        background-color: var(--bg-clr-8);
    }


    main > .sct-bg > .sct > .cntnt-bg > .cntnt > .bd-bg > .bd > .clmn-bg > .clmn > .frm-bg > .frm > .txt-inpt-bg > .txt-inpt {
        height: 125px;
    }
}

main > .sct-bg > .sct > .cntnt-bg > .cntnt > .bd-bg {
    max-width: 538px;
}

main > .sct-bg > .sct > .cntnt-bg > .cntnt > .bd-bg > .bd {
    padding: 22px;
    border-radius: 12px;
    box-shadow: var(--bg-clr-11) 0px 7px 29px 0px;
    background-color: var(--bg-clr-9);
}

main > .sct-bg > .sct > .cntnt-bg > .cntnt > .bd-bg > .bd > .clmn-bg > .clmn,
main > .sct-bg > .sct > .cntnt-bg > .cntnt > .bd-bg > .bd {
    gap: 16px;
}

main > .sct-bg > .sct > .cntnt-bg > .cntnt > .bd-bg > .bd > .clmn-bg > .clmn > .frm-bg > .frm > .inpt,
main > .sct-bg > .sct > .cntnt-bg > .cntnt > .bd-bg > .bd > .clmn-bg > .clmn > .frm-bg > .frm > .txt-inpt-bg {
    background-color: var(--bg-clr-10);
    transition: background-color .25s ease-in-out;
}

main > .sct-bg > .sct > .cntnt-bg > .cntnt > .bd-bg > .bd > .clmn-bg > .clmn > .btn-bg > .btn,
main > .sct-bg > .sct > .cntnt-bg > .cntnt > .bd-bg > .bd > .clmn-bg > .clmn > .frm-bg > .frm > .inpt,
main > .sct-bg > .sct > .cntnt-bg > .cntnt > .bd-bg > .bd > .clmn-bg > .clmn > .frm-bg > .frm > .txt-inpt-bg {
    border-radius: 8px;
    padding: 16.5px 14.5px;
}

main > .sct-bg > .sct > .cntnt-bg > .cntnt > .bd-bg > .bd > .clmn-bg > .clmn > .btn-bg > .btn > .txt {
    color: var(--txt-clr-1);
    font-weight: 500;
}

main > .sct-bg > .sct > .cntnt-bg > .cntnt > .bd-bg > .bd > .clmn-bg > .clmn > .btn-bg > .btn {
    background-color: var(--bg-clr-6);
}

main > .sct-bg > .sct > .cntnt-bg > .cntnt > .bd-bg > .bd > .clmn-bg > .clmn > .btn-bg > .btn > .txt,
main > .sct-bg > .sct > .cntnt-bg > .cntnt > .bd-bg > .bd > .clmn-bg > .clmn > .frm-bg > .frm > .inpt,
main > .sct-bg > .sct > .cntnt-bg > .cntnt > .bd-bg > .bd > .clmn-bg > .clmn > .frm-bg > .frm > .txt-inpt-bg > .txt-inpt,
main > .sct-bg > .sct > .cntnt-bg > .cntnt > .bd-bg > .bd > .clmn-bg > .clmn > .frm-bg > .frm::before {
    line-height: 1.3;
}
@media only screen and (min-width: 1200px) {
    main > .sct-bg > .sct#contact > .inf-bg > .inf {
        padding-left: 252px;
        padding-right: 252px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) { 
    main > .sct-bg > .sct#contact > .inf-bg > .inf {
        padding-left: 152px;
        padding-right: 152px;
    }
}


@media only screen and (min-width: 768px) and (max-width: 991px) { 
    main > .sct-bg > .sct#contact > .inf-bg > .inf {
        padding-left: 82px;
        padding-right: 82px;
    }
}

@media only screen and (max-width: 767px) { 
    main > .sct-bg > .sct#contact > .inf-bg > .inf {
        padding-left: 21px;
        padding-right: 21px;
    }
}

main > .sct-bg > .sct > .cntnt-bg > .cntnt > .bd-bg > .bd > .clmn-bg > .clmn > .frm-bg > .frm.alrt::after {
    content: "";
    bottom: 0;
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    z-index: 2;
    transform: scale(1);
    animation: frm-aftr-anmtn 0.3s ease;
}

@keyframes frm-aftr-anmtn {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

main > .sct-bg > .sct > .cntnt-bg > .cntnt > .bd-bg > .bd > .clmn-bg > .clmn > .frm-bg > .frm.alrt::after {
    background-color: var(--bg-clr-12) !important;
}

main > .sct-bg > .sct > .cntnt-bg > .cntnt > .bd-bg > .bd > .clmn-bg > .clmn > .frm-bg > .frm.alrt > .inpt,
main > .sct-bg > .sct > .cntnt-bg > .cntnt > .bd-bg > .bd > .clmn-bg > .clmn > .frm-bg > .frm.alrt > .txt-inpt-bg {
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

main > .sct-bg > .sct > .cntnt-bg > .cntnt > .bd-bg > .bd > .clmn-bg > .clmn > .frm-bg > .frm {
    transition: border-radius 0.4s ease-in-out;
    z-index: unset;
    cursor: text;
}

main > .sct-bg > .sct > .cntnt-bg > .cntnt > .bd-bg > .bd > .clmn-bg > .clmn > .btn-bg > .btn.ld .bd-bg,
main > .sct-bg > .sct > .cntnt-bg > .cntnt > .bd-bg > .bd > .clmn-bg > .clmn > .btn-bg > .btn.scs .bd-bg {
    display: flex !important;
}

main > .sct-bg > .sct > .cntnt-bg > .cntnt > .bd-bg > .bd > .clmn-bg > .clmn > .btn-bg > .btn.ld > .txt,
main > .sct-bg > .sct > .cntnt-bg > .cntnt > .bd-bg > .bd > .clmn-bg > .clmn > .btn-bg > .btn.scs > .txt {
    visibility: hidden;
}

main > .sct-bg > .sct > .cntnt-bg > .cntnt > .bd-bg > .bd > .clmn-bg > .clmn > .frm-bg > .frm > .inpt::placeholder,
main > .sct-bg > .sct > .cntnt-bg > .cntnt > .bd-bg > .bd > .clmn-bg > .clmn > .frm-bg > .frm > .txt-inpt-bg > .txt-inpt::placeholder {
    visibility: hidden;
}

main > .sct-bg > .sct > .cntnt-bg > .cntnt > .bd-bg > .bd > .clmn-bg > .clmn > .frm-bg > .frm::before {
    content: attr(placeholder);
    position: absolute;
    z-index: 4;
    left: 14.5px;
    top: 32.5%;
    transition: font-size .25s ease, top .25s ease, color .15s ease;
    color: var(--txt-clr-8);
}

main > .sct-bg > .sct > .cntnt-bg > .cntnt > .bd-bg > .bd > .clmn-bg > .clmn > .frm-bg > .frm:has(.txt-inpt)::before {
    top: 11.05%;
}

main > .sct-bg > .sct > .cntnt-bg > .cntnt > .bd-bg > .bd > .clmn-bg > .clmn > .frm-bg > .frm.fcsd > .inpt,
main > .sct-bg > .sct > .cntnt-bg > .cntnt > .bd-bg > .bd > .clmn-bg > .clmn > .frm-bg > .frm.fcsd > .txt-inpt-bg {
    background-color: var(--bg-clr-13) !important;
}

main > .sct-bg > .sct > .cntnt-bg > .cntnt > .bd-bg > .bd > .clmn-bg > .clmn > .frm-bg:has(.frm.fcsd)::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid var(--bg-clr-6);
    border-radius: 8px;
    z-index: 2;
    box-sizing: border-box;
}

main > .sct-bg > .sct > .cntnt-bg > .cntnt > .bd-bg > .bd > .clmn-bg > .clmn > .frm-bg:has(.frm.fcsd):after {
    content: attr(placeholder);
    height: 1px;
    position: absolute;
    top: 0;
    left: 11.68px;
    background-color: var(--bg-clr-13);
    z-index: 3;
    user-select: none;
    overflow: hidden;
    padding: 0 0.5px;
    box-sizing: border-box;
    font-weight: 700;
    transform: scale(1);
    animation: frm-aftr-anmtn 0.15s ease, bg-clr-chng-anmtn 0.25s ease-in-out;
}

@keyframes bg-clr-chng-anmtn {
    from {
        background-color: var(--bg-clr-10);
    }
    to {
        background-color: var(--bg-clr-13);
    }
}

main > .sct-bg > .sct > .cntnt-bg > .cntnt > .bd-bg > .bd > .clmn-bg > .clmn > .frm-bg > .frm.fcsd::before,
main > .sct-bg > .sct > .cntnt-bg > .cntnt > .bd-bg > .bd > .clmn-bg > .clmn > .frm-bg > .frm.actv::before {
    left: 12px;
    font-weight: 700;
}

@media only screen and (min-width: 992px) {
    main > .sct-bg > .sct > .cntnt-bg > .cntnt > .bd-bg > .bd > .clmn-bg > .clmn > .frm-bg > .frm.fcsd::before,
    main > .sct-bg > .sct > .cntnt-bg > .cntnt > .bd-bg > .bd > .clmn-bg > .clmn > .frm-bg > .frm.actv::before {
        top: -8px;
    }    
}

@media only screen and (max-width: 991px) {
    main > .sct-bg > .sct > .cntnt-bg > .cntnt > .bd-bg > .bd > .clmn-bg > .clmn > .frm-bg > .frm.fcsd::before,
    main > .sct-bg > .sct > .cntnt-bg > .cntnt > .bd-bg > .bd > .clmn-bg > .clmn > .frm-bg > .frm.actv::before {
        top: -7px;
    }    
}

@media only screen and (min-width: 1200px) {
    main > .sct-bg > .sct > .cntnt-bg > .cntnt > .bd-bg > .bd > .clmn-bg > .clmn > .frm-bg > .frm.fcsd::before,
    main > .sct-bg > .sct > .cntnt-bg > .cntnt > .bd-bg > .bd > .clmn-bg > .clmn > .frm-bg > .frm.actv::before,
    main > .sct-bg > .sct > .cntnt-bg > .cntnt > .bd-bg > .bd > .clmn-bg > .clmn > .frm-bg:has(.frm.fcsd):after {
        font-size: 12px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    main > .sct-bg > .sct > .cntnt-bg > .cntnt > .bd-bg > .bd > .clmn-bg > .clmn > .frm-bg > .frm.fcsd::before,
    main > .sct-bg > .sct > .cntnt-bg > .cntnt > .bd-bg > .bd > .clmn-bg > .clmn > .frm-bg > .frm.actv::before,
    main > .sct-bg > .sct > .cntnt-bg > .cntnt > .bd-bg > .bd > .clmn-bg > .clmn > .frm-bg:has(.frm.fcsd):after {
        font-size: 12px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    main > .sct-bg > .sct > .cntnt-bg > .cntnt > .bd-bg > .bd > .clmn-bg > .clmn > .frm-bg > .frm.fcsd::before,
    main > .sct-bg > .sct > .cntnt-bg > .cntnt > .bd-bg > .bd > .clmn-bg > .clmn > .frm-bg > .frm.actv::before,
    main > .sct-bg > .sct > .cntnt-bg > .cntnt > .bd-bg > .bd > .clmn-bg > .clmn > .frm-bg:has(.frm.fcsd):after {
        font-size: 10px;
    }
}

@media only screen and (max-width: 767px) {
    main > .sct-bg > .sct > .cntnt-bg > .cntnt > .bd-bg > .bd > .clmn-bg > .clmn > .frm-bg > .frm.fcsd::before,
    main > .sct-bg > .sct > .cntnt-bg > .cntnt > .bd-bg > .bd > .clmn-bg > .clmn > .frm-bg > .frm.actv::before,
    main > .sct-bg > .sct > .cntnt-bg > .cntnt > .bd-bg > .bd > .clmn-bg > .clmn > .frm-bg:has(.frm.fcsd):after {
        font-size: 10px;
    }
}

main > .sct-bg > .sct > .cntnt-bg > .cntnt > .bd-bg > .bd > .clmn-bg > .clmn > .frm-bg > .frm.actv::before {
    color: var(--txt-clr-2);
}

main > .sct-bg > .sct > .cntnt-bg > .cntnt > .bd-bg > .bd > .clmn-bg > .clmn > .frm-bg > .frm.fcsd::before {
    color: var(--txt-clr-7) !important;
}

main > .sct-bg > .sct > .cntnt-bg > .cntnt > .bd-bg > .bd > .clmn-bg > .clmn > .frm-bg:has(.frm.actv):after {
    animation: none !important;
}

main > .sct-bg > .sct > .cntnt-bg > .cntnt > .bd-bg > .bd > .clmn-bg > .clmn > .frm-bg:has(.frm.alrt)::before {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-width: 0;
}

main > .sct-bg > .sct > .cntnt-bg > .cntnt > .lst-bg > .lst > .cmpnt-bg {
    aspect-ratio: 18333 / 11125;
    height: auto;
    padding: 0 9px;
    scroll-snap-align: start;
    /* transition: min-width .525s ease-in-out; */
}

main > .sct-bg > .sct > .cntnt-bg > .cntnt > .lst-bg > .lst > .cmpnt-bg > .cmpnt {
    box-shadow: var(--bg-clr-11) 0px 7px 29px 0px;
    border-radius: 16px;
}

main > .sct-bg > .sct > .cntnt-bg > .cntnt > .lst-bg > .lst > .cmpnt-bg.crsl-prvs {
    order: 1;
}

main > .sct-bg > .sct > .cntnt-bg > .cntnt > .lst-bg > .lst > .cmpnt-bg.crsl-slctd {
    order: 2;
    animation: crsl-slctd-scl-anmtn /* .525s ease-in-out */;
}

@keyframes crsl-slctd-scl-anmtn {
    0% {
        transform: scale(0.7966);
    }
    100% {
        transform: scale(1);
    }
}

main > .sct-bg > .sct > .cntnt-bg > .cntnt > .lst-bg > .lst > .cmpnt-bg.crsl-nxt {
    order: 3;
}

@media only screen and (min-width: 1200px) {
    main > .sct-bg > .sct > .cntnt-bg > .cntnt > .lst-bg > .lst {
        height: calc(370.16px + 36px * 2);
    }
    
    main > .sct-bg > .sct > .cntnt-bg > .cntnt > .lst-bg > .lst > .cmpnt-bg {
        min-width: 488px;
    }

    main > .sct-bg > .sct > .cntnt-bg > .cntnt > .lst-bg > .lst > .cmpnt-bg.crsl-slctd {
        min-width: 610px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    main > .sct-bg > .sct > .cntnt-bg > .cntnt > .lst-bg > .lst {
        height: calc(273.06px + 36px * 2);
    }
    
    main > .sct-bg > .sct > .cntnt-bg > .cntnt > .lst-bg > .lst > .cmpnt-bg {
        min-width: 400px;
    }

    main > .sct-bg > .sct > .cntnt-bg > .cntnt > .lst-bg > .lst > .cmpnt-bg.crsl-slctd {
        min-width: 450px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    main > .sct-bg > .sct > .cntnt-bg > .cntnt > .lst-bg > .lst {
        height: calc(230.59px + 36px * 2);
    }
    
    main > .sct-bg > .sct > .cntnt-bg > .cntnt > .lst-bg > .lst > .cmpnt-bg {
        min-width: 320px;
    }

    main > .sct-bg > .sct > .cntnt-bg > .cntnt > .lst-bg > .lst > .cmpnt-bg.crsl-slctd {
        min-width: 380px;
    }
}

@media only screen and (max-width: 767px) {
    main > .sct-bg > .sct > .cntnt-bg > .cntnt > .lst-bg > .lst {
        height: calc(206.31px + 36px * 2);
    }
    
    main > .sct-bg > .sct > .cntnt-bg > .cntnt > .lst-bg > .lst > .cmpnt-bg {
        min-width: 280px;
    }

    main > .sct-bg > .sct > .cntnt-bg > .cntnt > .lst-bg > .lst > .cmpnt-bg.crsl-slctd {
        min-width: 340px;
    }
}

@media only screen and (max-width: 991px) {
    main > .sct-bg > .sct > .cntnt-bg > .cntnt > .lst-bg > .fl {
        display: none;
    }

    main > .sct-bg > .sct#projects {
        padding-left: 0;
        padding-right: 0;
    }
}

main > .sct-bg > .sct > .cntnt-bg > .cntnt > .lst-bg > .lst {
    overflow: hidden;
    padding: 36px 0;
    margin: -36px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

main > .sct-bg > .sct > .cntnt-bg > .cntnt > .lst-bg > .lst::-webkit-scrollbar {
    width: 0;
    height: 0;
}

main > .sct-bg > .sct > .cntnt-bg > .cntnt > .lst-bg > .fl {
    z-index: 2;
}

main > .sct-bg > .sct > .cntnt-bg > .cntnt > .lst-bg > .fl.lft-cvr {
    padding: 0 6px 0 20px;
    background: linear-gradient(to right, var(--bg-clr-2) 50%, transparent 100%);
}

main > .sct-bg > .sct > .cntnt-bg > .cntnt > .lst-bg > .fl.rght-cvr {
    padding: 0 20px 0 6px;
    background: linear-gradient(to right, transparent 0%, var(--bg-clr-2) 50%);
}

main > .sct-bg > .sct > .cntnt-bg > .cntnt > .lst-bg > .fl.rght-cvr > .btn-bg > .btn {
    transform: rotate(180deg);
}

main > .sct-bg > .sct > .cntnt-bg > .cntnt > .lst-bg > .fl > .btn-bg > .btn {
    padding: 8px;
    background-color: white;
    border: 1px solid var(--bg-clr-6);
}

main > .sct-bg > .sct#home > .cntnt-bg > .cntnt > .rght-bg {
    margin: -14px 0 0 0;
}

main > .sct-bg > .sct#home > .cntnt-bg > .cntnt > .rght-bg > .rght > .pstr > .img {
    border-radius: 18px;
}

main > .sct-bg > .sct#home > .cntnt-bg > .cntnt > .bd-bg {
    max-width: 45%;
}

main > .sct-bg > .sct#home > .cntnt-bg > .cntnt > .bd-bg > .bd {
    border: 0;
    padding: 0;
    margin: 0;
    gap: 0;
    box-shadow: none;
    background-color: transparent;
}

main > .sct-bg > .sct#home > .cntnt-bg > .cntnt > .bd-bg > .bd > .dtl-bg > .dtl.nm > .txt {
    font-weight: 600;
    line-height: 1.15;
}

main > .sct-bg > .sct#home > .cntnt-bg > .cntnt > .bd-bg > .bd > .dtl-bg > .dtl.tp {
    margin: 32px 0 4px 0;
}

main > .sct-bg > .sct#home > .cntnt-bg > .cntnt > .bd-bg > .bd > .dtl-bg > .dtl.nm {
    margin: 28px 0;
}

main > .sct-bg > .sct#home > .cntnt-bg > .cntnt > .bd-bg > .bd > .dtl-bg > .dtl.inf-brf {
    margin: 8px 0;
}

main > .sct-bg > .sct#home > .cntnt-bg > .cntnt > .bd-bg > .bd > .dtl-bg > .dtl.inf {
    margin: 26px 0 0 0;
}

main > .sct-bg > .sct#home > .cntnt-bg > .cntnt > .bd-bg > .bd > .dtl-bg > .dtl.tp > .txt {
    color: var(--txt-clr-3);
}

main > .sct-bg > .sct#home > .cntnt-bg > .cntnt > .bd-bg > .bd > .dtl-bg > .dtl.inf-brf > .txt,
main > .sct-bg > .sct#home > .cntnt-bg > .cntnt > .bd-bg > .bd > .dtl-bg > .dtl.inf > .txt {
    line-height: 1.55;
}