/* Style */
* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 0;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 1;
    outline: none;
    box-sizing: border-box;
    background-color: transparent;
    color: var(--txt-clr-1);
    text-decoration: none;
    text-align: left;
    outline: none;
	-webkit-tap-highlight-color: transparent;
    z-index: 1;
    list-style-type: none;
}

/* Body */
html {
    background-color: var(--bg-clr-1);
    min-width: 320px;
}

a, button {
	cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    -webkit-user-select: none;
    user-select: none;
}