/* Background Colors */
html {
    --bg-clr-1: #1A1B1D;
    --bg-clr-2: #E7EAEB;
    --bg-clr-3: rgba(250, 250, 250, .1);
    --bg-clr-4: rgba(250, 250, 250, .2);
    --bg-clr-5: rgba(0, 0, 0, .5);
    --bg-clr-6: #E77527;
    --bg-clr-7: rgba(0, 0, 0, .1);
    --bg-clr-8: #656966;
    --bg-clr-9: #FFFFFF;
    --bg-clr-10: #F0F3F4;
    --bg-clr-11: rgba(100, 100, 111, 0.2);
    --bg-clr-12: rgba(252, 58, 58);
    --bg-clr-13: #D8DADB;
    --bg-clr-14: rgba(0, 0, 0, .2);
    --bg-clr-15: rgba(0, 0, 0, .05);
}

/* Text Colors */
html {
    --txt-clr-1: #F3F5F5;
    --txt-clr-2: #000000;
    --txt-clr-3: #656966;
    --txt-clr-4: #3C3B39;
    --txt-clr-5: #7f8580;
    --txt-clr-6: #909691;
    --txt-clr-7: #E77527;
    --txt-clr-8: #757575;
}